
<div style="display: flex; flex-direction: column; width: 200px; background-color: red; padding: 10px;">

  <label>COUNTER: {{this.counter}}</label>
  <label>CURRENCY {{this.currency}}</label>
  <button (click)="clicked()">CLICK</button>
  
  <label>{{this.counterAdder}} PER CLICK</label>
  <label>{{this.passiveCounter}} PER SECOND</label>
</div>
<div style="display: flex; flex-direction: column; width: 200px; background-color: greenyellow; padding: 10px;">

  @for (availableUpgrade of availableUpgrades; track $index) {
    <app-available-upgrade [upgrade]="availableUpgrade" (purchaseClickedEvent)="purchase($event)" [currency]="GetCurrency()"></app-available-upgrade>
  }
</div>


<!-- <div style="background-color: greenyellow; height: 400px;"> -->
  <!-- <app-counter-digit id="counterdigit" name="counterdigit"></app-counter-digit> -->
<!-- </div> -->
<router-outlet />
