
<div style="display: flex; flex-direction: row;">
    <div style="height: 40px; overflow: hidden;">        
        <div [ngStyle]="applyStyles()">0</div>
        <div [ngStyle]="applyStyles()">1</div>
        <div [ngStyle]="applyStyles()">2</div>
        <div [ngStyle]="applyStyles()">3</div>
        <div [ngStyle]="applyStyles()">4</div>
        <div [ngStyle]="applyStyles()">5</div>
        <div [ngStyle]="applyStyles()">6</div>
        <div [ngStyle]="applyStyles()">7</div>
        <div [ngStyle]="applyStyles()">8</div>
        <div [ngStyle]="applyStyles()">9</div>  
    </div>
</div>
    